<% include partials/header %>
    <link rel="stylesheet" href="stylesheets/error.css">
<div class="container">
    <h1>Error</h1>
    <h3>Could not execute search, try specifying a more exact location or increasing the search radius</h3>
</div>
<% include partials/footer %>