<% include partials/header %>
    <link rel="stylesheet" href="stylesheets/home.css">
<div class="container">
    <div class="row">
        <h1>Search for a Restaurant</h1>
        <div id="search">
            <form action="/result" method="GET">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Location" name="location" id="location" required></input>
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" min="0" step=".1" placeholder="Search Radius in Miles" name="distance" required></input>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-lg btn-default btn-block" id="yourLocation">Your Location</button>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
    <script src="scripts/home.js"></script>
<% include partials/footer %>